.rajni{
        background-color: red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.depika{
    background-color: blue;
}
.ks{
    background-color: yellow;
}
.vijay{
    background-color: aqua;
}


#rahul{
    background-color: green;
}

div,span{
    background-color: brown;
}